@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Yu Mincho", "Meiryo", "Hiragino Kaku Gothic Pro", san-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a:link, a:visited, a:active {
    color: #d03c56;
    text-decoration: none;
}

.header {
    width: 100%;
}
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    float: left;
    width: 660px;
}
.menu {
    float: right;
    width: 275px;
}
.footer {
    width: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.logo {
    width: 420px;
    height: 121px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.PlaceBox {
}
.placeBox .text {
    display: inline-block;
    width: 182px;
    color: #000;
    vertical-align: top;
    line-height: 1.5
}
.placeBox .placeList {
    margin-bottom: 30px;
    list-style-type: none;
}
.placeBox .placeList .place {
    transition: opacity 0.15s;
    display: inline-block;
    margin: 0 10px;
    line-height: 16px;
    color: #aaa;
    vertical-align: 20px;
}
.placeBox .placeList .place a {
    display: block;
    transition: opacity 0.15s;
}
.placeBox .placeList .place a:hover {
    opacity: 0.8;
}
